
/* Mobile-first design */
@media screen and (max-width: 600px) {
  .board {
    grid-template-columns: 30px repeat(12, 30px);
    grid-template-rows: 30px repeat(12, 30px);
    @include board-style;
  }

  .board-cell {
    width: 30px;
    height: 30px;
  }

  .fire-btn {
    width: 100%;
    font-size: 16px;
  }
}

@mixin board-style {
  width: 80vw;
  height: 40vh;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 30px repeat(12, 1fr);
  /* 1st row for numbers, then 12 equal board cells */
  grid-template-rows: 30px repeat(12, 1fr);  
  gap: 2px;
  border: #e9ecef 2px solid;
}
.board {
  @include board-style;
}   

@mixin cell-coloring($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

.hit-cell {
  @include cell-coloring(red, yellow);
}

.miss-cell {
  @include cell-coloring(white, black);
}

.sunk-cell {
  @include cell-coloring(black, white);
}

