body {
    text-align: center;
    background: lightblue;
}

nav {
    background-color: #00198a;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    margin: 0 ;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    border: #b7bdc2 1px solid;
    border-radius: 10px;
}

nav > a:hover {
    background-color: #5c6092;
    cursor: pointer;
}

.fire-btn {
  width: 100px;
  height: 40px;
  background-color: #ff9100;
  color: white;
  border-radius: 10px;
}

#ship-select {
  appearance: none; /* Removes the default arrow and OS styling */
  background-color: #1a1a1a;
  color: #00ff00;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

/* Container styling */
.board {
  width: 80%;
  height: 40vh;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  gap: 2px;
  border: #e9ecef 2px solid;
}

/* Individual Cell Styling */
.board > .board-cell {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  border: #dee2e6 1px solid;
  box-sizing: border-box;
}

#enemy-board > .board-cell:hover {
  background-color: #e2e6ea; 
  cursor: crosshair;
}



#player-board > .ship-cell {
  background-color: #1fdc12; 
}



.hit-cell {
  background-color: red; 
}

.miss-cell {
  background-color: white; 
}

.sunk-cell {
  background-color: black; 
}

.carrier-ship {
  background-color: #343a40
}

.battleship-ship {
    background-color: #343a40
}

.cruiser-ship {
  background-color: #343a40
}

.submarine-ship {
  background-color: #343a40
}

.destroyer-ship {
  background-color: #343a40
}





/* History.html styling */
#history-logs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 800px;
  margin: auto;
}

/* Base grid for both header and rows */
.heading, .log-entry {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; 
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.heading {
  font-weight: bold;
  background-color: #333;
  color: white;
  border-radius: 8px 8px 0 0;
}

.heading, .log-entry {
  grid-template-areas: "date p-score e-score res";
  text-align: center;
}

/* Align date to the left for better reading */
.log-entry span:nth-child(1) {
  text-align: left;
}
