@mixin board-style($width: 80vw, $height: 40vh) {
  width: $width;
  height: $height;
  margin: 20px auto;
  display: grid;
  grid-template-columns:  repeat(13, 1fr);
  /* 1st row for numbers, then 12 equal board cells */
  grid-template-rows: repeat(13, 1fr);  
  gap: 2px;
  border: #e9ecef 2px solid;
  border-radius: 16px;
  min-width: 400px;
}

@mixin cell-coloring($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

@mixin select-style {
  color: #1c1f1c;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  margin: 10px;
}

body {
  text-align: center;
  background: off-white;
  font-family: 'Sans-Serif', Arial;
}

#title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    justify-self: left;
}

nav {
    background-color: #00198a;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
    border: #b7bdc2 1px solid;
    border-radius: 10px;
    justify-self: right;
    margin: 10px;
    &:hover {
        background-color: #5c6092;
        cursor: pointer;
    }
     &:active {
        font-style: italic;
        background-color: #a7b2bc;
    }
}


h2 {
  font-size: 2rem;
  color:  #05315e;
}

.controls {
  display: grid;
  grid-template: 1fr 0.5fr / 1fr 1fr;;
  justify-self: center;
}

.fire-btn {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  background-color: #1474d4;
  color: white;
  border-radius: 10px;
  font-size: 2rem;
  border-width: 2px;
  margin: 10px;
  &:hover {
    background-color: white;
    color:  #1474d4;
    border-color: #1474d4;
    cursor: pointer;
  }
}




#ship-select {
  @include select-style;
  grid-row-start: 2;
  grid-column: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

#orientation-select {
  @include select-style;
  grid-row-start: 2;
  grid-column: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}

.boards  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10vw;
  margin-top: 20px;
}

/* Container styling -- Mobile first design */
.board {
  @include board-style(90vw, 50vh);
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#player-board {
  border-color: rgb(245, 172, 1);
  border-width: 0.5rem;
  order: 2;
}

#enemy-board {
  border-color: red;
  border-width: 0.5rem;
  order: 1;
}

/* When the screen width is at least x -> switch to the desktop design */
@media screen and (min-width: 800px) {
  .boards {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .board {
    @include board-style(40vw, 70vh);
  }

  #enemy-board {
    order: 2;
  }

  #player-board {
    order: 1;
  }

  .board-cell {
    width: 30px;
    height: 30px;
  }

}

/* Individual Cell Styling */
.board > .board-cell {
  width: 100%;
  height: 100%;
  background-color:  #05315e;
  border: #dee2e6 1px solid;
  box-sizing: border-box;
}

#enemy-board > .board-cell:hover {
  background-color: #5091d2; 
  cursor: crosshair;
}

#player-board > .ship-cell {
  background-color: rgb(245, 172, 1);
}


/* x axis labels */
.number-label {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

/* y axis labels */
.letter-label {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.hit-cell {
  @include cell-coloring(red, yellow);
}

.miss-cell {
  @include cell-coloring(white, rgb(255, 255, 255));
}

.sunk-cell {
  @include cell-coloring(black, white);
}


/* History.html styling */
#history-logs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 800px;
  margin: auto;
}

/* Base grid for both header and rows */
.heading, .log-entry {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; 
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.heading {
  font-weight: bold;
  background-color: #333;
  color: white;
  border-radius: 8px 8px 0 0;
}

.heading, .log-entry {
  grid-template-areas: "date p-score e-score res";
  text-align: center;
}

/* Align date to the left for better reading */
.log-entry span:nth-child(1) {
  text-align: left;
}




