@import "./mixin";

* { outline: 1px solid red !important; }
body {
  text-align: center;
  background-color: var(--off-white);
  font-family: "Sans-Serif", Arial;
  @include dark-mode {
    background-color: var(--dark-mode-bg);
  }
}

h1 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-top: 20px;
  @include dark-mode {
    color: var(--accent-color);
  }
}

nav {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  @include dark-mode {
    background-color: var(--secondary-color);
  }

  #title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    justify-self: left;
    margin-right: auto;
  }
}

nav > a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  justify-self: right;
  margin: 10px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:active {
    font-style: italic;
    background-color: var(--accent-color);
  }
}

.switch {
  position: relative;
  display: flex;
  justify-self: right;
  margin-right: 20px;
  box-sizing: border-box;
}

.switch input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.switch label {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.switch label:before {
  content: '';
  width: 75px;
  height: 42px;
  background: var(--secondary-color);
  position: relative;
  display: inline-block;
  border-radius: 46px;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.switch label:after {
  content: '';
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: #fff;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.switch input[type="checkbox"]:checked + label:before {
  background: var(--primary-color);
}

.switch input[type="checkbox"]:checked + label:after {
  left: 35px;
}

h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  @include dark-mode {
    color: var(--off-white);
  }
}

.controls {
  display: grid;
  grid-template: 1fr 1fr 1fr;
  grid-template-columns: 1fr; 
  justify-self: center;
  width: 60vw;
}

.fire-btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  font-size: 2rem;
  border-width: 2px;
  margin: 10px;
  &:hover {
    background-color: var(--off-white);
    color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
  }
}

#ship-select {
  @include select-style;
}

#orientation-select {
  @include select-style;
}

.boards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10vw;
  margin-top: 20px;
}

/* Container styling -- Mobile first design */
.board {
  @include board-style(90vw, 50vh);
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#player-board {
  border-color: rgb(245, 172, 1);
  border-width: 0.5rem;
}

#enemy-board {
  border-color: red;
  border-width: 0.5rem;
}

/* When the screen width is at least x -> switch to the desktop design */
@media screen and (min-width: 800px) {
  .controls {
    width: 40vw;
  }

  .boards {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .board {
    @include board-style(40vw, 40vw);
  }

  nav {
    display: flex;
    align-items: center;  
  }

  .controls {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  .fire-btn {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
  }

  #ship-select {
    grid-row-start: 2;
    grid-column: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }

  #orientation-select {
    grid-row-start: 2;
    grid-column: 2;
    grid-row-end: 3;
    grid-column-end: 3;
  }
}

/* Individual Cell Styling */
.board > .board-cell {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border: var(--off-white) 1px solid;
}

#enemy-board > .board-cell:hover {
  background-color: var(--secondary-color);
  cursor: crosshair;
}

#player-board > .ship-cell {
  background-color: var(--accent-color);
}


.number-label {
  grid-row: 1;
  @include axis-style;
}

.letter-label {
  grid-column: 1;
  @include axis-style;
}

.hit-cell {
  @include cell-coloring(var(--primary-color), var(--accent-color));
}

.miss-cell {
  @include cell-coloring(var(--off-white), var(--off-white));
}

.sunk-cell {
  @include cell-coloring(var(--black), var(--white));
}

/* History.html styling */
#history-logs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 800px;
  margin: auto;
}

/* Base grid for both header and rows */
.heading,
.log-entry {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--off-white);
}

.heading {
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--off-white);
  border-radius: 8px 8px 0 0;
}

.heading,
.log-entry {
  grid-template-areas: "date p-score e-score res";
  text-align: center;
}

/* Align date to the left for better reading */
.log-entry span:nth-child(1) {
  text-align: left;
}
