@import "./mixin";
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

body {
  text-align: center;
  background-color: var(--off-white);
  font-family: "Pixelify Sans", Arial, sans-serif;
  padding: 0;
  margin: 0 0 50px 0;
  @include dark-mode {
    background-color: var(--dark-mode-bg);
  }
}

h1 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-top: 20px;
  @include dark-mode {
    color: var(--accent-color);
  }
}

#login,
#register {
  background-color: var(--off-white);
  border-radius: 8px;
  padding: 20px;

  @include dark-mode {
    background-color: var(--secondary-color);
    border-color: var(--off-white);
    color: var(--off-white);
  }
}

.form-container {
  display: flex;
  flex-direction: column;

  gap: 15px;
  font-size: 1.5rem;
  width: 45vw;
  margin: auto;
  padding-bottom: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  background-color: var(--off-white);
  @include dark-mode {
    background-color: var(--secondary-color);
    border-color: var(--off-white);
    color: var(--off-white);
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
}

#login-form input,
#register-form input {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  height: 1rem;
}

#login-button,
#register-button,
#logout-btn,
#login-btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  font-size: 1.5rem;
  border-width: 2px;
  margin-top: 8px;
  &:hover {
    background-color: var(--off-white);
    color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
  }
}

