@import "./mixin";
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

body {
  text-align: center;
  background-color: var(--off-white);
  font-family: "Pixelify Sans", Arial, sans-serif;
  padding: 0;
  margin: 0 0 50px 0;
  @include dark-mode {
    background-color: var(--dark-mode-bg);
  }
}

h1 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-top: 20px;
  @include dark-mode {
    color: var(--accent-color);
  }
}

nav {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  @include dark-mode {
    background-color: var(--secondary-color);
  }

  #title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    justify-self: left;
    margin-right: auto;
  }
}

nav > a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  justify-self: right;
  margin: 10px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:active {
    font-style: italic;
    background-color: var(--accent-color);
  }
}


#history-logs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 800px;
  margin: auto;
}

.heading,
.log-entry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--off-white);
}

.heading {
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--off-white);
  border-radius: 8px 8px 0 0;
}

.heading,
.log-entry {
  grid-template-areas: "date p-score e-score res";
  text-align: center;
}

/* Align date to the left for better reading */
.log-entry span:nth-child(1) {
  text-align: left;
}
